<div class="itinerary-single">
  <h4>Start Date:</h4>
  <p><%= itinerary.start_date %></p>
  <h4>End Date:</h4>
  <p><%= itinerary.end_date %></p>
  <p><%= link_to "Edit Itinerary", edit_trip_itinerary_path(itinerary.trip, itinerary) %></p>
</div>