<div class="pure-form trip-form">
  <%= form_for(trip) do |f| %>
  <%= f.text_field :title, placeholder: "Title" %>
  <%= f.text_field :description, placeholder: "Description" %>

  <input type='submit' class='pure-button pure-button-trip'>
  <% end %>
</div>