<div class="trip-single">
<p>TRIP INFO</p>
  <p>Title: <%= trip.title %></p>
  <p>Description: <%= trip.description %></p>
  <li> <%= link_to "Edit trip", edit_trip_path(trip.id)  %></li>
	<li> <%= link_to "delete trip", trip_path(trip.id), method: :delete  %></li>
</div>