<div class="pure-form login">
  <%= form_tag(session_login_path) do %>
    <%= text_field_tag 'user[email]', nil, placeholder: 'email' %>
    <br>
    <%= password_field_tag "user[password]", nil, placeholder: 'password' %>
    <br>
    <%= submit_tag "Login", class: 'pure-button pure-button-trip' %>
    <% end %>
</div>