<div class="container">
	<header class="clearfix">
		<h1>Destination</h1>
		<iframe id="forecast_embed" style ="float: right;"type="text/html" frameborder="0" height="170" width="20%" src="http://forecast.io/embed/#lat=&lon=&"> </iframe>
	</header>
	<div id="grid-gallery" class="grid-gallery">
		<section class="grid-wrap">
			<ul class="grid">
				<li class="grid-sizer"></li><!-- for Masonry column width -->
				<li>
					<figure>
						<img src="img/thumb/1.png" alt="img01"/>
						<figcaption><h3>Letterpress asymmetrical</h3><p>Chillwave hoodie ea gentrify aute sriracha consequat.</p></figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="img/thumb/2.png" alt="img02"/>
						<figcaption><h3>Vice velit chia</h3><p>Laborum tattooed iPhone, Schlitz irure nulla Tonx retro 90's chia cardigan quis asymmetrical paleo. </p></figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="img/thumb/3.png" alt="img03"/>
						<figcaption><h3>Brunch semiotics</h3><p>Ex disrupt cray yr, butcher pour-over magna umami kitsch before they sold out commodo.</p></figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="img/thumb/4.png" alt="img04"/>
						<figcaption><h3>Chillwave nihil occupy</h3><p>In post-ironic gluten-free deserunt, PBR&amp;B non pork belly cupidatat polaroid. </p></figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="img/thumb/5.png" alt="img05"/>
						<figcaption><h3>Kale chips lomo biodiesel</h3><p>Pariatur food truck street art consequat sustainable, et kogi beard qui paleo. </p></figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="img/thumb/6.png" alt="img06"/>
						<figcaption><h3>Exercitation occaecat</h3><p>Street chillwave hoodie ea gentrify.</p></figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="img/thumb/1.png" alt="img01"/>
						<figcaption><h3>Selfies viral four</h3><p>Raw denim duis Tonx Shoreditch labore swag artisan High Life cred, stumptown Schlitz quinoa flexitarian mollit fanny pack.</p></figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="img/thumb/2.png" alt="img02"/>
						<figcaption><h3>Photo booth skateboard</h3><p>Vinyl squid ex High Life. Paleo Neutra nulla master cleanse, Helvetica et enim nesciunt esse.</p></figcaption>
					</figure>
				</li>
			</ul>
			<nav>
				<span class="icon nav-prev"></span>
				<span class="icon nav-next"></span>
				<span class="icon nav-close"></span>
			</nav>
			<div class="info-keys icon">Navigate with arrow keys</div>
		</section><!-- // slideshow -->
	</div><!-- // grid-gallery -->
