<div class="splash-container">
	<div class="splash">
		<h1 class="splash-head">PackSnap!</h1>
		<p class="splash-subhead">
			Discover what items you may need on your next trip.
		</p>
		<p>
			<a href="/" class="pure-button pure-button-primary">Get Started</a>
		</p>
	</div>
</div>

<div class="content-wrapper">

	<div class="ribbon l-box-lrg pure-g">
		
		<form>
			<input id="geocomplete" class="pure-input-2-3" type="text" placeholder="Where are you going?">
			<input class="pure-input-1-4" type="date">
			<input id="find" class="pure-button pure-button-primary" type="submit" value="Discover">
		</form>

	</div>

	<div class="content">
		<div class="map_canvas"></div>

		<h4>Map Information</h4>
		<div id="map_info"> 
			<ul>
				<li>Location: <span data-geo="location"></span></li>
				<li>Route: <span data-geo="route"></span></li>
				<li>Street Number: <span data-geo="street_number"></span></li>
				<li>Postal Code: <span data-geo="postal_code"></span></li>
				<li>City: <span data-geo="locality"></span></li>
				<li>Country Code: <span data-geo="country_short"></span></li>
				<li>State: <span data-geo="administrative_area_level_1"></span></li>
			</ul>
		</div>

		<div class="pure-g">
			<div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

				<h3 class="content-subhead">
					<i class="fa fa-rocket"></i>
					Get Started Quickly
				</h3>
				<p>
					Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
				</p>
			</div>
			<div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
				<h3 class="content-subhead">
					<i class="fa fa-mobile"></i>
					Responsive Layouts
				</h3>
				<p>
					Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
				</p>
			</div>
			<div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
				<h3 class="content-subhead">
					<i class="fa fa-th-large"></i>
					Modular
				</h3>
				<p>
					Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
				</p>
			</div>
			<div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
				<h3 class="content-subhead">
					<i class="fa fa-check-square-o"></i>
					Plays Nice
				</h3>
				<p>
					Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
				</p>
			</div>
		</div>
	</div>

	<div class="content">

		<div class="pure-g">

			<div class="l-box-lrg pure-u-1 pure-u-md-3-5">

			</div>
		</div>

	</div>

	<div class="footer l-box is-center">



	</div>
</div>
