<center><div id="recommend-error">Please <%= link_to "Log In", "#login", class: "error-link" %> or <%= link_to "Sign Up", '#sign-up', class: "error-link" %> Prior to Making Recommendations</div></center>
