<section class="grid-wrap">
  <ul class="grid">
    <li class="grid-sizer"></li>
    <% @location.comments.each do |comment| %>
    <li>
      <figure>
        <%= image_tag comment.item.image.url(:medium) %>
        <figcaption><h3><%= @location.address %></h3>
          <p><%= comment.content %></p>
          <p><%= comment.user.username %></p>
        </figcaption>
      </figure>
    </li>
    <% end %>
  </ul>
</section>
