<section class="slideshow">
  <ul>
    <% @location.comments.each do |comment| %>
    <li>
      <figure>
        <figcaption>
          <p><%= link_to comment.user.username, user_path(comment.user) %>, <%= @location.address %></p>
          <p><%= comment.content %></p>
        </figcaption>
        <%= image_tag comment.item.image.url(:medium) %>
      </figure>
    </li>
    <% end %>
  </ul>
  <nav>
    <span class="icon nav-prev"></span>
    <span class="icon nav-next"></span>
    <span class="icon nav-close"></span>
  </nav>
  <div class="info-keys icon">Navigate with arrow keys</div>
</section>
