/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


#geocomplete { width: 200px}

.map_canvas {
  width: 600px;
  height: 400px;
  margin: 10px 20px 10px 0;
}

body {
  margin: 0;
  padding: 0;
}

.banner {
  position: relative;
  width: 100%;
  overflow: auto;
  top: 50px;
  /*z-index: -1;*/

  font-size: 18px;
  line-height: 24px;
  text-align: center;

  color: #FFFFFF;

  background: #FFFFFF;
}

.banner ul {
    padding: 0;
    margin: 0;
  list-style: none;
  width: 300%;
}

.banner ul li {
  display: block;
  float: left;
  min-height: 500px;
  -o-background-size: 100% 100%;
  -ms-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}

.banner img {
  height: 100%;
  width: 100%;
}



