#geocomplete { width: 20%;
}

.map_canvas {
  width: 100%;
  height: 290px;
  margin: 10px 20px 10px 0;
}

body {
  margin: 0;
  padding: 0;
}

.banner {
  margin-top: -64px;
  position: relative;
  width: 100%;
  overflow: auto;
  font-size: 18px;
  line-height: 24px;
  text-align: center;

  color: #FFFFFF;

  background: #FFFFFF;
}

.banner ul {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 300%;
}

.banner ul li {
  display: block;
  float: left;
  min-height: 500px;
  -o-background-size: 100% 100%;
  -ms-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}

.banner img {
  height: 36.15em;
  width: 100%;
}

#find {
  height: 2.25em;
}

.splash-button {
    background-color: #1f8dd6;
    color: white;
    padding: 0.5em 2em;
    border-radius: 5px;
    opacity: .9;
}
a.splash-button-primary{
  background: #c4c4c4;
  text-decoration: none !important;
  color: white;
}

.search_area{
  background: rgba(0,0,0,0.6);
  margin-top: -75px;
  /*margin-bottom: 30px;*/
  position: relative;
  text-align: center;
  width: 100%;
  padding-top: 18px;
}

.dash {
  margin-top: 3em;
}

#append {
  margin-top: 4em;
  text-align: center;
}

