<div class="new-location">
  <%= form_for(location) do |f| %>
  <input id="geocomplete" class="pure-u-1 pure-u-md-1-3" type="text" name="search_result" placeholder="Where are you going?">
  <input id="find" class="pure-button pure-button-primary" type="submit" value="Discover">
  <% end %>
</div>

<div class="map_canvas"></div>

<h4>Map Information</h4>
<div id="map_info">
  <ul>
    <li>Location: <span data-geo="location"></span></li>
    <li>Route: <span data-geo="route"></span></li>
    <li>Street Number: <span data-geo="street_number"></span></li>
    <li>Postal Code: <span data-geo="postal_code"></span></li>
    <li>City: <span data-geo="locality"></span></li>
    <li>Country Code: <span data-geo="country_short"></span></li>
    <li>State: <span data-geo="administrative_area_level_1"></span></li>
  </ul>
</div>
