<div class="banner">
  <ul class="banner-ul">
    <li>
      <img src="/assets/road.png" >
    </li>
    <li>
      <img src="/assets/laundry.png">
    </li>
    <li>
      <img src="/assets/river.png">
    </li>
    <li>
      <img src="/assets/bokeh.png">
    </li>
    <li>
      <img src="/assets/fishing.png">
    </li>
  </ul>
</div>
<div class="splash">
  <h1 class="splash-head">PackSnap!</h1>
  <p class="splash-subhead">
    Discover what items you may need on your next trip.
  </p>
  <p>
    <%= link_to "How it works", '#modal-fade', class: "splash-button splash-button-primary" %>
  </p>
</div>

