  <div class="banner">
      <ul class="banner-ul">
          <li>
            <img src="/assets/road.png" >
          </li>
          <li>
            <img src="/assets/laundry.png">
          </li>
          <li>
            <img src="/assets/river.png">
          </li>
          <li>
            <img src="/assets/bokeh.png">
          </li>
          <li>
            <img src="/assets/fishing.png">
          </li>
      </ul>
  </div>

