<%= video_tag "broll.mp4", :id => "bgvid", :autoplay => true, :loop => true %>
<div class="splash">
  <h1 class="splash-head">PackSnap!</h1>
  <p class="splash-subhead">
    Discover what items you may need on your next trip.
  </p>
  <p>
  <%= link_to "Learn More", '#get-started', class: "splash-button splash-button-primary" %>
  </p>
</div>

<%= render partial: "layouts/search_area" %>

