<section class="modal--fade" id="get-started"
tabindex="-1" role="dialog" aria-labelledby="label-fade" aria-hidden="true">

<div class="modal-inner">
	<header><h2 id="label-fade">Let's Get Started!</h2></header>
	<div class="modal-content"><p>
		Packing for your next trip doesn't have to be confusing.  Let us know where you're going and we will recommend clothing to match the weather.  As a bonus, look at other users' suggestions.   recommend the items that may be hard to find in an unfamiliar place, like deoderant in Korea, lactaid pills in Hong Kong or thermal underwear in Alaska.  If you like the idea, save some time, follow the link and buy on amazon.

		</P><P> 
		When you come back.  Don't forget to suggest item's you wish you packed before leaving.
	</p></div>
</div>

<a href="#!" class="modal-close" title="Close this modal"
data-dismiss="modal" data-close="Close">&times;</a>
</section>
