<section class="modal--fade" id="get-started"
tabindex="-1" role="dialog" aria-labelledby="label-fade" aria-hidden="true">

<div class="modal-inner">
	<header><h2 id="label-fade">Let's Get Started!</h2></header>
	<div class="modal-content"><p>
		FIRST"
		What was the hard to find item on your last adventure, deodorant in Korea, lactaid pills in Hong Kong, thermal underwear in Alaska?  Save on valuable vacation time.  Search your destination and view suggestions of what to bring from people that have been there.  If you find items you think you'll need, follow along and buy it on amazon.
		<p></p>
		LAST:
		Come back from your trip and recommend items for you wish you brough from the very beginning.

	</p></div>
</div>

<a href="#!" class="modal-close" title="Close this modal"
data-dismiss="modal" data-close="Close">&times;</a>
</section>
