<div class="search_area">
	<form action="/dash" class="pure-form new-location" method="get">
		<input id="geocomplete" class="pure-u-1 pure-u-md-1-3" type="text" placeholder="Where are you going?">
		<input class="pure-u-1 pure-u-md-1-3" type="date">
		<input id="find" class="pure-button pure-button-primary" type="submit" value="Search">
	</form>
</div>